@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu .item {
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}


.menu .item:nth-child(1) {
  animation-delay: 0.20s;
}
.menu .item:nth-child(2) {
  animation-delay: 0.40s;
}
.menu .item:nth-child(3) {
  animation-delay: 0.60s;
}
.menu .item:nth-child(4) {
  animation-delay: 0.80s;
}
.menu .item:nth-child(5) {
  animation-delay: 1.00s;
}
.menu .item:nth-child(6) {
  animation-delay: 1.20s;
}
.menu .item:nth-child(7) {
  animation-delay: 1.40s;
}
.menu .item:nth-child(8) {
  animation-delay: 1.60s;
}
.menu .item:nth-child(9) {
  animation-delay: 1.80s;
}
.menu .item:nth-child(10) {
  animation-delay: 2.00s;
}
.menu .item:nth-child(11) {
  animation-delay: 2.20s;
}
.menu .item:nth-child(12) {
  animation-delay: 2.40s;
}
.menu .item:nth-child(13) {
  animation-delay: 2.60s;
}
.menu .item:nth-child(14) {
  animation-delay: 2.80s;
}
.menu .item:nth-child(15) {
  animation-delay: 3.00s;
}
.menu .item:nth-child(16) {
  animation-delay: 3.20s;
}
.menu .item:nth-child(17) {
  animation-delay: 3.40s;
}
.menu .item:nth-child(18) {
  animation-delay: 3.60s;
}
.menu .item:nth-child(19) {
  animation-delay: 3.80s;
}
.menu .item:nth-child(20) {
  animation-delay: 4.00s;
}
.menu .item:nth-child(21) {
  animation-delay: 4.20s;
}
.menu .item:nth-child(22) {
  animation-delay: 4.40s;
}
.menu .item:nth-child(23) {
  animation-delay: 4.60s;
}
.menu .item:nth-child(24) {
  animation-delay: 4.80s;
}
.menu .item:nth-child(25) {
  animation-delay: 5.00s;
}
.menu .item:nth-child(26) {
  animation-delay: 5.20s;
}
.menu .item:nth-child(27) {
  animation-delay: 5.40s;
}
.menu .item:nth-child(28) {
  animation-delay: 5.60s;
}
.menu .item:nth-child(29) {
  animation-delay: 5.80s;
}
.menu .item:nth-child(30) {
  animation-delay: 6.00s;
}
.menu .item:nth-child(31) {
  animation-delay: 6.20s;
}
.menu .item:nth-child(32) {
  animation-delay: 6.40s;
}
.menu .item:nth-child(33) {
  animation-delay: 6.60s;
}
.menu .item:nth-child(34) {
  animation-delay: 6.80s;
}
.menu .item:nth-child(35) {
  animation-delay: 7.00s;
}
.menu .item:nth-child(36) {
  animation-delay: 7.20s;
}
.menu .item:nth-child(37) {
  animation-delay: 7.40s;
}
.menu .item:nth-child(38) {
  animation-delay: 7.60s;
}
.menu .item:nth-child(39) {
  animation-delay: 7.80s;
}
.menu .item:nth-child(40) {
  animation-delay: 8.00s;
}
.menu .item:nth-child(41) {
  animation-delay: 8.20s;
}
.menu .item:nth-child(42) {
  animation-delay: 8.40s;
}
.menu .item:nth-child(43) {
  animation-delay: 8.60s;
}
.menu .item:nth-child(44) {
  animation-delay: 8.80s;
}
.menu .item:nth-child(45) {
  animation-delay: 9.00s;
}
.menu .item:nth-child(46) {
  animation-delay: 9.20s;
}
.menu .item:nth-child(47) {
  animation-delay: 9.40s;
}
.menu .item:nth-child(48) {
  animation-delay: 9.60s;
}
.menu .item:nth-child(49) {
  animation-delay: 9.80s;
}
.menu .item:nth-child(50) {
  animation-delay: 10.00s;
}
.menu .item:nth-child(51) {
  animation-delay: 10.20s;
}
.menu .item:nth-child(52) {
  animation-delay: 10.40s;
}
.menu .item:nth-child(53) {
  animation-delay: 10.60s;
}
.menu .item:nth-child(54) {
  animation-delay: 10.80s;
}
.menu .item:nth-child(55) {
  animation-delay: 11.00s;
}
.menu .item:nth-child(56) {
  animation-delay: 11.20s;
}
.menu .item:nth-child(57) {
  animation-delay: 11.40s;
}
.menu .item:nth-child(58) {
  animation-delay: 11.60s;
}
.menu .item:nth-child(59) {
  animation-delay: 11.80s;
}
.menu .item:nth-child(60) {
  animation-delay: 12.00s;
}
.menu .item:nth-child(61) {
  animation-delay: 12.20s;
}
.menu .item:nth-child(62) {
  animation-delay: 12.40s;
}
.menu .item:nth-child(63) {
  animation-delay: 12.60s;
}
.menu .item:nth-child(64) {
  animation-delay: 12.80s;
}
.menu .item:nth-child(65) {
  animation-delay: 13.00s;
}
.menu .item:nth-child(66) {
  animation-delay: 13.20s;
}
.menu .item:nth-child(67) {
  animation-delay: 13.40s;
}
.menu .item:nth-child(68) {
  animation-delay: 13.60s;
}
.menu .item:nth-child(69) {
  animation-delay: 13.80s;
}
.menu .item:nth-child(70) {
  animation-delay: 14.00s;
}
.menu .item:nth-child(71) {
  animation-delay: 14.20s;
}
.menu .item:nth-child(72) {
  animation-delay: 14.40s;
}
.menu .item:nth-child(73) {
  animation-delay: 14.60s;
}
.menu .item:nth-child(74) {
  animation-delay: 14.80s;
}
.menu .item:nth-child(75) {
  animation-delay: 15.00s;
}
.menu .item:nth-child(76) {
  animation-delay: 15.20s;
}
.menu .item:nth-child(77) {
  animation-delay: 15.40s;
}
.menu .item:nth-child(78) {
  animation-delay: 15.60s;
}
.menu .item:nth-child(79) {
  animation-delay: 15.80s;
}
.menu .item:nth-child(80) {
  animation-delay: 16.00s;
}
.menu .item:nth-child(81) {
  animation-delay: 16.20s;
}
.menu .item:nth-child(82) {
  animation-delay: 16.40s;
}
.menu .item:nth-child(83) {
  animation-delay: 16.60s;
}
.menu .item:nth-child(84) {
  animation-delay: 16.80s;
}
.menu .item:nth-child(85) {
  animation-delay: 17.00s;
}
.menu .item:nth-child(86) {
  animation-delay: 17.20s;
}
.menu .item:nth-child(87) {
  animation-delay: 17.40s;
}
.menu .item:nth-child(88) {
  animation-delay: 17.60s;
}
.menu .item:nth-child(89) {
  animation-delay: 17.80s;
}
.menu .item:nth-child(90) {
  animation-delay: 18.00s;
}
.menu .item:nth-child(91) {
  animation-delay: 18.20s;
}
.menu .item:nth-child(92) {
  animation-delay: 18.40s;
}
.menu .item:nth-child(93) {
  animation-delay: 18.60s;
}
.menu .item:nth-child(94) {
  animation-delay: 18.80s;
}
.menu .item:nth-child(95) {
  animation-delay: 19.00s;
}
.menu .item:nth-child(96) {
  animation-delay: 19.20s;
}
.menu .item:nth-child(97) {
  animation-delay: 19.40s;
}
.menu .item:nth-child(98) {
  animation-delay: 19.60s;
}
.menu .item:nth-child(99) {
  animation-delay: 19.80s;
}
.menu .item:nth-child(100) {
  animation-delay: 20.00s;
}
.menu .item:nth-child(101) {
  animation-delay: 20.20s;
}
.menu .item:nth-child(102) {
  animation-delay: 20.40s;
}
.menu .item:nth-child(103) {
  animation-delay: 20.60s;
}
.menu .item:nth-child(104) {
  animation-delay: 20.80s;
}
.menu .item:nth-child(105) {
  animation-delay: 21.00s;
}
.menu .item:nth-child(106) {
  animation-delay: 21.20s;
}
.menu .item:nth-child(107) {
  animation-delay: 21.40s;
}
.menu .item:nth-child(108) {
  animation-delay: 21.60s;
}
.menu .item:nth-child(109) {
  animation-delay: 21.80s;
}
.menu .item:nth-child(110) {
  animation-delay: 22.00s;
}
.menu .item:nth-child(111) {
  animation-delay: 22.20s;
}
.menu .item:nth-child(112) {
  animation-delay: 22.40s;
}
.menu .item:nth-child(113) {
  animation-delay: 22.60s;
}
.menu .item:nth-child(114) {
  animation-delay: 22.80s;
}
.menu .item:nth-child(115) {
  animation-delay: 23.00s;
}
.menu .item:nth-child(116) {
  animation-delay: 23.20s;
}
.menu .item:nth-child(117) {
  animation-delay: 23.40s;
}
.menu .item:nth-child(118) {
  animation-delay: 23.60s;
}
.menu .item:nth-child(119) {
  animation-delay: 23.80s;
}
.menu .item:nth-child(120) {
  animation-delay: 24.00s;
}
.menu .item:nth-child(121) {
  animation-delay: 24.20s;
}
.menu .item:nth-child(122) {
  animation-delay: 24.40s;
}
.menu .item:nth-child(123) {
  animation-delay: 24.60s;
}
.menu .item:nth-child(124) {
  animation-delay: 24.80s;
}
.menu .item:nth-child(125) {
  animation-delay: 25.00s;
}
.menu .item:nth-child(126) {
  animation-delay: 25.20s;
}
.menu .item:nth-child(127) {
  animation-delay: 25.40s;
}
.menu .item:nth-child(128) {
  animation-delay: 25.60s;
}
.menu .item:nth-child(129) {
  animation-delay: 25.80s;
}
.menu .item:nth-child(130) {
  animation-delay: 26.00s;
}
.menu .item:nth-child(131) {
  animation-delay: 26.20s;
}
.menu .item:nth-child(132) {
  animation-delay: 26.40s;
}
.menu .item:nth-child(133) {
  animation-delay: 26.60s;
}
.menu .item:nth-child(134) {
  animation-delay: 26.80s;
}
.menu .item:nth-child(135) {
  animation-delay: 27.00s;
}
.menu .item:nth-child(136) {
  animation-delay: 27.20s;
}
.menu .item:nth-child(137) {
  animation-delay: 27.40s;
}
.menu .item:nth-child(138) {
  animation-delay: 27.60s;
}
.menu .item:nth-child(139) {
  animation-delay: 27.80s;
}
.menu .item:nth-child(140) {
  animation-delay: 28.00s;
}
.menu .item:nth-child(141) {
  animation-delay: 28.20s;
}
.menu .item:nth-child(142) {
  animation-delay: 28.40s;
}
.menu .item:nth-child(143) {
  animation-delay: 28.60s;
}
.menu .item:nth-child(144) {
  animation-delay: 28.80s;
}
.menu .item:nth-child(145) {
  animation-delay: 29.00s;
}
.menu .item:nth-child(146) {
  animation-delay: 29.20s;
}
.menu .item:nth-child(147) {
  animation-delay: 29.40s;
}
.menu .item:nth-child(148) {
  animation-delay: 29.60s;
}
.menu .item:nth-child(149) {
  animation-delay: 29.80s;
}
.menu .item:nth-child(150) {
  animation-delay: 30.00s;
}
.menu .item:nth-child(151) {
  animation-delay: 30.20s;
}
.menu .item:nth-child(152) {
  animation-delay: 30.40s;
}
.menu .item:nth-child(153) {
  animation-delay: 30.60s;
}
.menu .item:nth-child(154) {
  animation-delay: 30.80s;
}
.menu .item:nth-child(155) {
  animation-delay: 31.00s;
}
.menu .item:nth-child(156) {
  animation-delay: 31.20s;
}
.menu .item:nth-child(157) {
  animation-delay: 31.40s;
}
.menu .item:nth-child(158) {
  animation-delay: 31.60s;
}
.menu .item:nth-child(159) {
  animation-delay: 31.80s;
}
.menu .item:nth-child(160) {
  animation-delay: 32.00s;
}
.menu .item:nth-child(161) {
  animation-delay: 32.20s;
}
.menu .item:nth-child(162) {
  animation-delay: 32.40s;
}
.menu .item:nth-child(163) {
  animation-delay: 32.60s;
}
.menu .item:nth-child(164) {
  animation-delay: 32.80s;
}
.menu .item:nth-child(165) {
  animation-delay: 33.00s;
}
.menu .item:nth-child(166) {
  animation-delay: 33.20s;
}
.menu .item:nth-child(167) {
  animation-delay: 33.40s;
}
.menu .item:nth-child(168) {
  animation-delay: 33.60s;
}
.menu .item:nth-child(169) {
  animation-delay: 33.80s;
}
.menu .item:nth-child(170) {
  animation-delay: 34.00s;
}
.menu .item:nth-child(171) {
  animation-delay: 34.20s;
}
.menu .item:nth-child(172) {
  animation-delay: 34.40s;
}
.menu .item:nth-child(173) {
  animation-delay: 34.60s;
}
.menu .item:nth-child(174) {
  animation-delay: 34.80s;
}
.menu .item:nth-child(175) {
  animation-delay: 35.00s;
}
.menu .item:nth-child(176) {
  animation-delay: 35.20s;
}
.menu .item:nth-child(177) {
  animation-delay: 35.40s;
}
.menu .item:nth-child(178) {
  animation-delay: 35.60s;
}
.menu .item:nth-child(179) {
  animation-delay: 35.80s;
}
.menu .item:nth-child(180) {
  animation-delay: 36.00s;
}
.menu .item:nth-child(181) {
  animation-delay: 36.20s;
}
.menu .item:nth-child(182) {
  animation-delay: 36.40s;
}
.menu .item:nth-child(183) {
  animation-delay: 36.60s;
}
.menu .item:nth-child(184) {
  animation-delay: 36.80s;
}
.menu .item:nth-child(185) {
  animation-delay: 37.00s;
}
.menu .item:nth-child(186) {
  animation-delay: 37.20s;
}
.menu .item:nth-child(187) {
  animation-delay: 37.40s;
}
.menu .item:nth-child(188) {
  animation-delay: 37.60s;
}
.menu .item:nth-child(189) {
  animation-delay: 37.80s;
}
.menu .item:nth-child(190) {
  animation-delay: 38.00s;
}
.menu .item:nth-child(191) {
  animation-delay: 38.20s;
}
.menu .item:nth-child(192) {
  animation-delay: 38.40s;
}
.menu .item:nth-child(193) {
  animation-delay: 38.60s;
}
.menu .item:nth-child(194) {
  animation-delay: 38.80s;
}
.menu .item:nth-child(195) {
  animation-delay: 39.00s;
}
.menu .item:nth-child(196) {
  animation-delay: 39.20s;
}
.menu .item:nth-child(197) {
  animation-delay: 39.40s;
}
.menu .item:nth-child(198) {
  animation-delay: 39.60s;
}
.menu .item:nth-child(199) {
  animation-delay: 39.80s;
}
.menu .item:nth-child(200) {
  animation-delay: 40.00s;
}
.menu .item:nth-child(201) {
  animation-delay: 40.20s;
}
.menu .item:nth-child(202) {
  animation-delay: 40.40s;
}
.menu .item:nth-child(203) {
  animation-delay: 40.60s;
}
.menu .item:nth-child(204) {
  animation-delay: 40.80s;
}
.menu .item:nth-child(205) {
  animation-delay: 41.00s;
}
.menu .item:nth-child(206) {
  animation-delay: 41.20s;
}
.menu .item:nth-child(207) {
  animation-delay: 41.40s;
}
.menu .item:nth-child(208) {
  animation-delay: 41.60s;
}
.menu .item:nth-child(209) {
  animation-delay: 41.80s;
}
.menu .item:nth-child(210) {
  animation-delay: 42.00s;
}
.menu .item:nth-child(211) {
  animation-delay: 42.20s;
}
.menu .item:nth-child(212) {
  animation-delay: 42.40s;
}
.menu .item:nth-child(213) {
  animation-delay: 42.60s;
}
.menu .item:nth-child(214) {
  animation-delay: 42.80s;
}
.menu .item:nth-child(215) {
  animation-delay: 43.00s;
}
.menu .item:nth-child(216) {
  animation-delay: 43.20s;
}
.menu .item:nth-child(217) {
  animation-delay: 43.40s;
}
.menu .item:nth-child(218) {
  animation-delay: 43.60s;
}
.menu .item:nth-child(219) {
  animation-delay: 43.80s;
}
.menu .item:nth-child(220) {
  animation-delay: 44.00s;
}
.menu .item:nth-child(221) {
  animation-delay: 44.20s;
}
.menu .item:nth-child(222) {
  animation-delay: 44.40s;
}
.menu .item:nth-child(223) {
  animation-delay: 44.60s;
}
.menu .item:nth-child(224) {
  animation-delay: 44.80s;
}
.menu .item:nth-child(225) {
  animation-delay: 45.00s;
}
.menu .item:nth-child(226) {
  animation-delay: 45.20s;
}
.menu .item:nth-child(227) {
  animation-delay: 45.40s;
}
.menu .item:nth-child(228) {
  animation-delay: 45.60s;
}
.menu .item:nth-child(229) {
  animation-delay: 45.80s;
}
.menu .item:nth-child(230) {
  animation-delay: 46.00s;
}
.menu .item:nth-child(231) {
  animation-delay: 46.20s;
}
.menu .item:nth-child(232) {
  animation-delay: 46.40s;
}
.menu .item:nth-child(233) {
  animation-delay: 46.60s;
}
.menu .item:nth-child(234) {
  animation-delay: 46.80s;
}
.menu .item:nth-child(235) {
  animation-delay: 47.00s;
}
.menu .item:nth-child(236) {
  animation-delay: 47.20s;
}
.menu .item:nth-child(237) {
  animation-delay: 47.40s;
}
.menu .item:nth-child(238) {
  animation-delay: 47.60s;
}
.menu .item:nth-child(239) {
  animation-delay: 47.80s;
}
.menu .item:nth-child(240) {
  animation-delay: 48.00s;
}
.menu .item:nth-child(241) {
  animation-delay: 48.20s;
}
.menu .item:nth-child(242) {
  animation-delay: 48.40s;
}
.menu .item:nth-child(243) {
  animation-delay: 48.60s;
}
.menu .item:nth-child(244) {
  animation-delay: 48.80s;
}
.menu .item:nth-child(245) {
  animation-delay: 49.00s;
}
.menu .item:nth-child(246) {
  animation-delay: 49.20s;
}
.menu .item:nth-child(247) {
  animation-delay: 49.40s;
}
.menu .item:nth-child(248) {
  animation-delay: 49.60s;
}
.menu .item:nth-child(249) {
  animation-delay: 49.80s;
}
.menu .item:nth-child(250) {
  animation-delay: 50.00s;
}
.menu .item:nth-child(251) {
  animation-delay: 50.20s;
}
.menu .item:nth-child(252) {
  animation-delay: 50.40s;
}
.menu .item:nth-child(253) {
  animation-delay: 50.60s;
}
.menu .item:nth-child(254) {
  animation-delay: 50.80s;
}
.menu .item:nth-child(255) {
  animation-delay: 51.00s;
}
.menu .item:nth-child(256) {
  animation-delay: 51.20s;
}
.menu .item:nth-child(257) {
  animation-delay: 51.40s;
}
.menu .item:nth-child(258) {
  animation-delay: 51.60s;
}
.menu .item:nth-child(259) {
  animation-delay: 51.80s;
}
.menu .item:nth-child(260) {
  animation-delay: 52.00s;
}
.menu .item:nth-child(261) {
  animation-delay: 52.20s;
}
.menu .item:nth-child(262) {
  animation-delay: 52.40s;
}
.menu .item:nth-child(263) {
  animation-delay: 52.60s;
}
.menu .item:nth-child(264) {
  animation-delay: 52.80s;
}
.menu .item:nth-child(265) {
  animation-delay: 53.00s;
}
.menu .item:nth-child(266) {
  animation-delay: 53.20s;
}
.menu .item:nth-child(267) {
  animation-delay: 53.40s;
}
.menu .item:nth-child(268) {
  animation-delay: 53.60s;
}
.menu .item:nth-child(269) {
  animation-delay: 53.80s;
}
.menu .item:nth-child(270) {
  animation-delay: 54.00s;
}
.menu .item:nth-child(271) {
  animation-delay: 54.20s;
}
.menu .item:nth-child(272) {
  animation-delay: 54.40s;
}
.menu .item:nth-child(273) {
  animation-delay: 54.60s;
}
.menu .item:nth-child(274) {
  animation-delay: 54.80s;
}
.menu .item:nth-child(275) {
  animation-delay: 55.00s;
}
.menu .item:nth-child(276) {
  animation-delay: 55.20s;
}
.menu .item:nth-child(277) {
  animation-delay: 55.40s;
}
.menu .item:nth-child(278) {
  animation-delay: 55.60s;
}
.menu .item:nth-child(279) {
  animation-delay: 55.80s;
}
.menu .item:nth-child(280) {
  animation-delay: 56.00s;
}
.menu .item:nth-child(281) {
  animation-delay: 56.20s;
}
.menu .item:nth-child(282) {
  animation-delay: 56.40s;
}
.menu .item:nth-child(283) {
  animation-delay: 56.60s;
}
.menu .item:nth-child(284) {
  animation-delay: 56.80s;
}
.menu .item:nth-child(285) {
  animation-delay: 57.00s;
}
.menu .item:nth-child(286) {
  animation-delay: 57.20s;
}
.menu .item:nth-child(287) {
  animation-delay: 57.40s;
}
.menu .item:nth-child(288) {
  animation-delay: 57.60s;
}
.menu .item:nth-child(289) {
  animation-delay: 57.80s;
}
.menu .item:nth-child(290) {
  animation-delay: 58.00s;
}
.menu .item:nth-child(291) {
  animation-delay: 58.20s;
}
.menu .item:nth-child(292) {
  animation-delay: 58.40s;
}
.menu .item:nth-child(293) {
  animation-delay: 58.60s;
}
.menu .item:nth-child(294) {
  animation-delay: 58.80s;
}
.menu .item:nth-child(295) {
  animation-delay: 59.00s;
}
.menu .item:nth-child(296) {
  animation-delay: 59.20s;
}
.menu .item:nth-child(297) {
  animation-delay: 59.40s;
}
.menu .item:nth-child(298) {
  animation-delay: 59.60s;
}
.menu .item:nth-child(299) {
  animation-delay: 59.80s;
}
.menu .item:nth-child(300) {
  animation-delay: 60.00s;
}
.menu .item:nth-child(301) {
  animation-delay: 60.20s;
}
.menu .item:nth-child(302) {
  animation-delay: 60.40s;
}
.menu .item:nth-child(303) {
  animation-delay: 60.60s;
}
.menu .item:nth-child(304) {
  animation-delay: 60.80s;
}
.menu .item:nth-child(305) {
  animation-delay: 61.00s;
}
.menu .item:nth-child(306) {
  animation-delay: 61.20s;
}
.menu .item:nth-child(307) {
  animation-delay: 61.40s;
}
.menu .item:nth-child(308) {
  animation-delay: 61.60s;
}
.menu .item:nth-child(309) {
  animation-delay: 61.80s;
}
.menu .item:nth-child(310) {
  animation-delay: 62.00s;
}
.menu .item:nth-child(311) {
  animation-delay: 62.20s;
}
.menu .item:nth-child(312) {
  animation-delay: 62.40s;
}
.menu .item:nth-child(313) {
  animation-delay: 62.60s;
}
.menu .item:nth-child(314) {
  animation-delay: 62.80s;
}
.menu .item:nth-child(315) {
  animation-delay: 63.00s;
}
.menu .item:nth-child(316) {
  animation-delay: 63.20s;
}
.menu .item:nth-child(317) {
  animation-delay: 63.40s;
}
.menu .item:nth-child(318) {
  animation-delay: 63.60s;
}
.menu .item:nth-child(319) {
  animation-delay: 63.80s;
}
.menu .item:nth-child(320) {
  animation-delay: 64.00s;
}
.menu .item:nth-child(321) {
  animation-delay: 64.20s;
}
.menu .item:nth-child(322) {
  animation-delay: 64.40s;
}
.menu .item:nth-child(323) {
  animation-delay: 64.60s;
}
.menu .item:nth-child(324) {
  animation-delay: 64.80s;
}
.menu .item:nth-child(325) {
  animation-delay: 65.00s;
}
.menu .item:nth-child(326) {
  animation-delay: 65.20s;
}
.menu .item:nth-child(327) {
  animation-delay: 65.40s;
}
.menu .item:nth-child(328) {
  animation-delay: 65.60s;
}
.menu .item:nth-child(329) {
  animation-delay: 65.80s;
}
.menu .item:nth-child(330) {
  animation-delay: 66.00s;
}
.menu .item:nth-child(331) {
  animation-delay: 66.20s;
}
.menu .item:nth-child(332) {
  animation-delay: 66.40s;
}
.menu .item:nth-child(333) {
  animation-delay: 66.60s;
}
.menu .item:nth-child(334) {
  animation-delay: 66.80s;
}
.menu .item:nth-child(335) {
  animation-delay: 67.00s;
}
.menu .item:nth-child(336) {
  animation-delay: 67.20s;
}
.menu .item:nth-child(337) {
  animation-delay: 67.40s;
}
.menu .item:nth-child(338) {
  animation-delay: 67.60s;
}
.menu .item:nth-child(339) {
  animation-delay: 67.80s;
}
.menu .item:nth-child(340) {
  animation-delay: 68.00s;
}
.menu .item:nth-child(341) {
  animation-delay: 68.20s;
}
.menu .item:nth-child(342) {
  animation-delay: 68.40s;
}
.menu .item:nth-child(343) {
  animation-delay: 68.60s;
}
.menu .item:nth-child(344) {
  animation-delay: 68.80s;
}
.menu .item:nth-child(345) {
  animation-delay: 69.00s;
}
.menu .item:nth-child(346) {
  animation-delay: 69.20s;
}
.menu .item:nth-child(347) {
  animation-delay: 69.40s;
}
.menu .item:nth-child(348) {
  animation-delay: 69.60s;
}
.menu .item:nth-child(349) {
  animation-delay: 69.80s;
}
.menu .item:nth-child(350) {
  animation-delay: 70.00s;
}
.menu .item:nth-child(351) {
  animation-delay: 70.20s;
}
.menu .item:nth-child(352) {
  animation-delay: 70.40s;
}
.menu .item:nth-child(353) {
  animation-delay: 70.60s;
}
.menu .item:nth-child(354) {
  animation-delay: 70.80s;
}
.menu .item:nth-child(355) {
  animation-delay: 71.00s;
}
.menu .item:nth-child(356) {
  animation-delay: 71.20s;
}
.menu .item:nth-child(357) {
  animation-delay: 71.40s;
}
.menu .item:nth-child(358) {
  animation-delay: 71.60s;
}
.menu .item:nth-child(359) {
  animation-delay: 71.80s;
}
.menu .item:nth-child(360) {
  animation-delay: 72.00s;
}
.menu .item:nth-child(361) {
  animation-delay: 72.20s;
}
.menu .item:nth-child(362) {
  animation-delay: 72.40s;
}
.menu .item:nth-child(363) {
  animation-delay: 72.60s;
}
.menu .item:nth-child(364) {
  animation-delay: 72.80s;
}
.menu .item:nth-child(365) {
  animation-delay: 73.00s;
}
.menu .item:nth-child(366) {
  animation-delay: 73.20s;
}
.menu .item:nth-child(367) {
  animation-delay: 73.40s;
}
.menu .item:nth-child(368) {
  animation-delay: 73.60s;
}
.menu .item:nth-child(369) {
  animation-delay: 73.80s;
}
.menu .item:nth-child(370) {
  animation-delay: 74.00s;
}
.menu .item:nth-child(371) {
  animation-delay: 74.20s;
}
.menu .item:nth-child(372) {
  animation-delay: 74.40s;
}
.menu .item:nth-child(373) {
  animation-delay: 74.60s;
}
.menu .item:nth-child(374) {
  animation-delay: 74.80s;
}
.menu .item:nth-child(375) {
  animation-delay: 75.00s;
}
.menu .item:nth-child(376) {
  animation-delay: 75.20s;
}
.menu .item:nth-child(377) {
  animation-delay: 75.40s;
}
.menu .item:nth-child(378) {
  animation-delay: 75.60s;
}
.menu .item:nth-child(379) {
  animation-delay: 75.80s;
}
.menu .item:nth-child(380) {
  animation-delay: 76.00s;
}
.menu .item:nth-child(381) {
  animation-delay: 76.20s;
}
.menu .item:nth-child(382) {
  animation-delay: 76.40s;
}
.menu .item:nth-child(383) {
  animation-delay: 76.60s;
}
.menu .item:nth-child(384) {
  animation-delay: 76.80s;
}
.menu .item:nth-child(385) {
  animation-delay: 77.00s;
}
.menu .item:nth-child(386) {
  animation-delay: 77.20s;
}
.menu .item:nth-child(387) {
  animation-delay: 77.40s;
}
.menu .item:nth-child(388) {
  animation-delay: 77.60s;
}
.menu .item:nth-child(389) {
  animation-delay: 77.80s;
}
.menu .item:nth-child(390) {
  animation-delay: 78.00s;
}
.menu .item:nth-child(391) {
  animation-delay: 78.20s;
}
.menu .item:nth-child(392) {
  animation-delay: 78.40s;
}
.menu .item:nth-child(393) {
  animation-delay: 78.60s;
}
.menu .item:nth-child(394) {
  animation-delay: 78.80s;
}
.menu .item:nth-child(395) {
  animation-delay: 79.00s;
}
.menu .item:nth-child(396) {
  animation-delay: 79.20s;
}
.menu .item:nth-child(397) {
  animation-delay: 79.40s;
}
.menu .item:nth-child(398) {
  animation-delay: 79.60s;
}
.menu .item:nth-child(399) {
  animation-delay: 79.80s;
}
.menu .item:nth-child(400) {
  animation-delay: 80.00s;
}
.menu .item:nth-child(401) {
  animation-delay: 80.20s;
}
.menu .item:nth-child(402) {
  animation-delay: 80.40s;
}
.menu .item:nth-child(403) {
  animation-delay: 80.60s;
}
.menu .item:nth-child(404) {
  animation-delay: 80.80s;
}
.menu .item:nth-child(405) {
  animation-delay: 81.00s;
}
.menu .item:nth-child(406) {
  animation-delay: 81.20s;
}
.menu .item:nth-child(407) {
  animation-delay: 81.40s;
}
.menu .item:nth-child(408) {
  animation-delay: 81.60s;
}
.menu .item:nth-child(409) {
  animation-delay: 81.80s;
}
.menu .item:nth-child(410) {
  animation-delay: 82.00s;
}
.menu .item:nth-child(411) {
  animation-delay: 82.20s;
}
.menu .item:nth-child(412) {
  animation-delay: 82.40s;
}
.menu .item:nth-child(413) {
  animation-delay: 82.60s;
}
.menu .item:nth-child(414) {
  animation-delay: 82.80s;
}
.menu .item:nth-child(415) {
  animation-delay: 83.00s;
}
.menu .item:nth-child(416) {
  animation-delay: 83.20s;
}
.menu .item:nth-child(417) {
  animation-delay: 83.40s;
}
.menu .item:nth-child(418) {
  animation-delay: 83.60s;
}
.menu .item:nth-child(419) {
  animation-delay: 83.80s;
}
.menu .item:nth-child(420) {
  animation-delay: 84.00s;
}
.menu .item:nth-child(421) {
  animation-delay: 84.20s;
}
.menu .item:nth-child(422) {
  animation-delay: 84.40s;
}
.menu .item:nth-child(423) {
  animation-delay: 84.60s;
}
.menu .item:nth-child(424) {
  animation-delay: 84.80s;
}
.menu .item:nth-child(425) {
  animation-delay: 85.00s;
}
.menu .item:nth-child(426) {
  animation-delay: 85.20s;
}
.menu .item:nth-child(427) {
  animation-delay: 85.40s;
}
.menu .item:nth-child(428) {
  animation-delay: 85.60s;
}
.menu .item:nth-child(429) {
  animation-delay: 85.80s;
}
.menu .item:nth-child(430) {
  animation-delay: 86.00s;
}
.menu .item:nth-child(431) {
  animation-delay: 86.20s;
}
.menu .item:nth-child(432) {
  animation-delay: 86.40s;
}
.menu .item:nth-child(433) {
  animation-delay: 86.60s;
}
.menu .item:nth-child(434) {
  animation-delay: 86.80s;
}
.menu .item:nth-child(435) {
  animation-delay: 87.00s;
}
.menu .item:nth-child(436) {
  animation-delay: 87.20s;
}
.menu .item:nth-child(437) {
  animation-delay: 87.40s;
}
.menu .item:nth-child(438) {
  animation-delay: 87.60s;
}
.menu .item:nth-child(439) {
  animation-delay: 87.80s;
}
.menu .item:nth-child(440) {
  animation-delay: 88.00s;
}
.menu .item:nth-child(441) {
  animation-delay: 88.20s;
}
.menu .item:nth-child(442) {
  animation-delay: 88.40s;
}
.menu .item:nth-child(443) {
  animation-delay: 88.60s;
}
.menu .item:nth-child(444) {
  animation-delay: 88.80s;
}
.menu .item:nth-child(445) {
  animation-delay: 89.00s;
}
.menu .item:nth-child(446) {
  animation-delay: 89.20s;
}
.menu .item:nth-child(447) {
  animation-delay: 89.40s;
}
.menu .item:nth-child(448) {
  animation-delay: 89.60s;
}
.menu .item:nth-child(449) {
  animation-delay: 89.80s;
}
.menu .item:nth-child(450) {
  animation-delay: 90.00s;
}
.menu .item:nth-child(451) {
  animation-delay: 90.20s;
}
.menu .item:nth-child(452) {
  animation-delay: 90.40s;
}
.menu .item:nth-child(453) {
  animation-delay: 90.60s;
}
.menu .item:nth-child(454) {
  animation-delay: 90.80s;
}
.menu .item:nth-child(455) {
  animation-delay: 91.00s;
}
.menu .item:nth-child(456) {
  animation-delay: 91.20s;
}
.menu .item:nth-child(457) {
  animation-delay: 91.40s;
}
.menu .item:nth-child(458) {
  animation-delay: 91.60s;
}
.menu .item:nth-child(459) {
  animation-delay: 91.80s;
}
.menu .item:nth-child(460) {
  animation-delay: 92.00s;
}
.menu .item:nth-child(461) {
  animation-delay: 92.20s;
}
.menu .item:nth-child(462) {
  animation-delay: 92.40s;
}
.menu .item:nth-child(463) {
  animation-delay: 92.60s;
}
.menu .item:nth-child(464) {
  animation-delay: 92.80s;
}
.menu .item:nth-child(465) {
  animation-delay: 93.00s;
}
.menu .item:nth-child(466) {
  animation-delay: 93.20s;
}
.menu .item:nth-child(467) {
  animation-delay: 93.40s;
}
.menu .item:nth-child(468) {
  animation-delay: 93.60s;
}
.menu .item:nth-child(469) {
  animation-delay: 93.80s;
}
.menu .item:nth-child(470) {
  animation-delay: 94.00s;
}
.menu .item:nth-child(471) {
  animation-delay: 94.20s;
}
.menu .item:nth-child(472) {
  animation-delay: 94.40s;
}
.menu .item:nth-child(473) {
  animation-delay: 94.60s;
}
.menu .item:nth-child(474) {
  animation-delay: 94.80s;
}
.menu .item:nth-child(475) {
  animation-delay: 95.00s;
}
.menu .item:nth-child(476) {
  animation-delay: 95.20s;
}
.menu .item:nth-child(477) {
  animation-delay: 95.40s;
}
.menu .item:nth-child(478) {
  animation-delay: 95.60s;
}
.menu .item:nth-child(479) {
  animation-delay: 95.80s;
}
.menu .item:nth-child(480) {
  animation-delay: 96.00s;
}
.menu .item:nth-child(481) {
  animation-delay: 96.20s;
}
.menu .item:nth-child(482) {
  animation-delay: 96.40s;
}
.menu .item:nth-child(483) {
  animation-delay: 96.60s;
}
.menu .item:nth-child(484) {
  animation-delay: 96.80s;
}
.menu .item:nth-child(485) {
  animation-delay: 97.00s;
}
.menu .item:nth-child(486) {
  animation-delay: 97.20s;
}
.menu .item:nth-child(487) {
  animation-delay: 97.40s;
}
.menu .item:nth-child(488) {
  animation-delay: 97.60s;
}
.menu .item:nth-child(489) {
  animation-delay: 97.80s;
}
.menu .item:nth-child(490) {
  animation-delay: 98.00s;
}
.menu .item:nth-child(491) {
  animation-delay: 98.20s;
}
.menu .item:nth-child(492) {
  animation-delay: 98.40s;
}
.menu .item:nth-child(493) {
  animation-delay: 98.60s;
}
.menu .item:nth-child(494) {
  animation-delay: 98.80s;
}
.menu .item:nth-child(495) {
  animation-delay: 99.00s;
}
.menu .item:nth-child(496) {
  animation-delay: 99.20s;
}
.menu .item:nth-child(497) {
  animation-delay: 99.40s;
}
.menu .item:nth-child(498) {
  animation-delay: 99.60s;
}
.menu .item:nth-child(499) {
  animation-delay: 99.80s;
}
.menu .item:nth-child(500) {
  animation-delay: 100.00s;
}
.menu .item:nth-child(501) {
  animation-delay: 100.20s;
}
.menu .item:nth-child(502) {
  animation-delay: 100.40s;
}
.menu .item:nth-child(503) {
  animation-delay: 100.60s;
}
.menu .item:nth-child(504) {
  animation-delay: 100.80s;
}
.menu .item:nth-child(505) {
  animation-delay: 101.00s;
}
.menu .item:nth-child(506) {
  animation-delay: 101.20s;
}
.menu .item:nth-child(507) {
  animation-delay: 101.40s;
}
.menu .item:nth-child(508) {
  animation-delay: 101.60s;
}
.menu .item:nth-child(509) {
  animation-delay: 101.80s;
}
.menu .item:nth-child(510) {
  animation-delay: 102.00s;
}
.menu .item:nth-child(511) {
  animation-delay: 102.20s;
}
.menu .item:nth-child(512) {
  animation-delay: 102.40s;
}
.menu .item:nth-child(513) {
  animation-delay: 102.60s;
}
.menu .item:nth-child(514) {
  animation-delay: 102.80s;
}
.menu .item:nth-child(515) {
  animation-delay: 103.00s;
}
.menu .item:nth-child(516) {
  animation-delay: 103.20s;
}
.menu .item:nth-child(517) {
  animation-delay: 103.40s;
}
.menu .item:nth-child(518) {
  animation-delay: 103.60s;
}
.menu .item:nth-child(519) {
  animation-delay: 103.80s;
}
.menu .item:nth-child(520) {
  animation-delay: 104.00s;
}
.menu .item:nth-child(521) {
  animation-delay: 104.20s;
}
.menu .item:nth-child(522) {
  animation-delay: 104.40s;
}
.menu .item:nth-child(523) {
  animation-delay: 104.60s;
}
.menu .item:nth-child(524) {
  animation-delay: 104.80s;
}
.menu .item:nth-child(525) {
  animation-delay: 105.00s;
}
.menu .item:nth-child(526) {
  animation-delay: 105.20s;
}
.menu .item:nth-child(527) {
  animation-delay: 105.40s;
}
.menu .item:nth-child(528) {
  animation-delay: 105.60s;
}
.menu .item:nth-child(529) {
  animation-delay: 105.80s;
}
.menu .item:nth-child(530) {
  animation-delay: 106.00s;
}
.menu .item:nth-child(531) {
  animation-delay: 106.20s;
}
.menu .item:nth-child(532) {
  animation-delay: 106.40s;
}
.menu .item:nth-child(533) {
  animation-delay: 106.60s;
}
.menu .item:nth-child(534) {
  animation-delay: 106.80s;
}
.menu .item:nth-child(535) {
  animation-delay: 107.00s;
}
.menu .item:nth-child(536) {
  animation-delay: 107.20s;
}
.menu .item:nth-child(537) {
  animation-delay: 107.40s;
}
.menu .item:nth-child(538) {
  animation-delay: 107.60s;
}
.menu .item:nth-child(539) {
  animation-delay: 107.80s;
}
.menu .item:nth-child(540) {
  animation-delay: 108.00s;
}
.menu .item:nth-child(541) {
  animation-delay: 108.20s;
}
.menu .item:nth-child(542) {
  animation-delay: 108.40s;
}
.menu .item:nth-child(543) {
  animation-delay: 108.60s;
}
.menu .item:nth-child(544) {
  animation-delay: 108.80s;
}
.menu .item:nth-child(545) {
  animation-delay: 109.00s;
}
.menu .item:nth-child(546) {
  animation-delay: 109.20s;
}
.menu .item:nth-child(547) {
  animation-delay: 109.40s;
}
.menu .item:nth-child(548) {
  animation-delay: 109.60s;
}
.menu .item:nth-child(549) {
  animation-delay: 109.80s;
}
.menu .item:nth-child(550) {
  animation-delay: 110.00s;
}
.menu .item:nth-child(551) {
  animation-delay: 110.20s;
}
.menu .item:nth-child(552) {
  animation-delay: 110.40s;
}
.menu .item:nth-child(553) {
  animation-delay: 110.60s;
}
.menu .item:nth-child(554) {
  animation-delay: 110.80s;
}
.menu .item:nth-child(555) {
  animation-delay: 111.00s;
}
.menu .item:nth-child(556) {
  animation-delay: 111.20s;
}
.menu .item:nth-child(557) {
  animation-delay: 111.40s;
}
.menu .item:nth-child(558) {
  animation-delay: 111.60s;
}
.menu .item:nth-child(559) {
  animation-delay: 111.80s;
}
.menu .item:nth-child(560) {
  animation-delay: 112.00s;
}
.menu .item:nth-child(561) {
  animation-delay: 112.20s;
}
.menu .item:nth-child(562) {
  animation-delay: 112.40s;
}
.menu .item:nth-child(563) {
  animation-delay: 112.60s;
}
.menu .item:nth-child(564) {
  animation-delay: 112.80s;
}
.menu .item:nth-child(565) {
  animation-delay: 113.00s;
}
.menu .item:nth-child(566) {
  animation-delay: 113.20s;
}
.menu .item:nth-child(567) {
  animation-delay: 113.40s;
}
.menu .item:nth-child(568) {
  animation-delay: 113.60s;
}
.menu .item:nth-child(569) {
  animation-delay: 113.80s;
}
.menu .item:nth-child(570) {
  animation-delay: 114.00s;
}
.menu .item:nth-child(571) {
  animation-delay: 114.20s;
}
.menu .item:nth-child(572) {
  animation-delay: 114.40s;
}
.menu .item:nth-child(573) {
  animation-delay: 114.60s;
}
.menu .item:nth-child(574) {
  animation-delay: 114.80s;
}
.menu .item:nth-child(575) {
  animation-delay: 115.00s;
}
.menu .item:nth-child(576) {
  animation-delay: 115.20s;
}
.menu .item:nth-child(577) {
  animation-delay: 115.40s;
}
.menu .item:nth-child(578) {
  animation-delay: 115.60s;
}
.menu .item:nth-child(579) {
  animation-delay: 115.80s;
}
.menu .item:nth-child(580) {
  animation-delay: 116.00s;
}
.menu .item:nth-child(581) {
  animation-delay: 116.20s;
}
.menu .item:nth-child(582) {
  animation-delay: 116.40s;
}
.menu .item:nth-child(583) {
  animation-delay: 116.60s;
}
.menu .item:nth-child(584) {
  animation-delay: 116.80s;
}
.menu .item:nth-child(585) {
  animation-delay: 117.00s;
}
.menu .item:nth-child(586) {
  animation-delay: 117.20s;
}
.menu .item:nth-child(587) {
  animation-delay: 117.40s;
}
.menu .item:nth-child(588) {
  animation-delay: 117.60s;
}
.menu .item:nth-child(589) {
  animation-delay: 117.80s;
}
.menu .item:nth-child(590) {
  animation-delay: 118.00s;
}
.menu .item:nth-child(591) {
  animation-delay: 118.20s;
}
.menu .item:nth-child(592) {
  animation-delay: 118.40s;
}
.menu .item:nth-child(593) {
  animation-delay: 118.60s;
}
.menu .item:nth-child(594) {
  animation-delay: 118.80s;
}
.menu .item:nth-child(595) {
  animation-delay: 119.00s;
}
.menu .item:nth-child(596) {
  animation-delay: 119.20s;
}
.menu .item:nth-child(597) {
  animation-delay: 119.40s;
}
.menu .item:nth-child(598) {
  animation-delay: 119.60s;
}
.menu .item:nth-child(599) {
  animation-delay: 119.80s;
}
.menu .item:nth-child(600) {
  animation-delay: 120.00s;
}
.menu .item:nth-child(601) {
  animation-delay: 120.20s;
}
.menu .item:nth-child(602) {
  animation-delay: 120.40s;
}
.menu .item:nth-child(603) {
  animation-delay: 120.60s;
}
.menu .item:nth-child(604) {
  animation-delay: 120.80s;
}
.menu .item:nth-child(605) {
  animation-delay: 121.00s;
}
.menu .item:nth-child(606) {
  animation-delay: 121.20s;
}
.menu .item:nth-child(607) {
  animation-delay: 121.40s;
}
.menu .item:nth-child(608) {
  animation-delay: 121.60s;
}
.menu .item:nth-child(609) {
  animation-delay: 121.80s;
}
.menu .item:nth-child(610) {
  animation-delay: 122.00s;
}
.menu .item:nth-child(611) {
  animation-delay: 122.20s;
}
.menu .item:nth-child(612) {
  animation-delay: 122.40s;
}
.menu .item:nth-child(613) {
  animation-delay: 122.60s;
}
.menu .item:nth-child(614) {
  animation-delay: 122.80s;
}
.menu .item:nth-child(615) {
  animation-delay: 123.00s;
}
.menu .item:nth-child(616) {
  animation-delay: 123.20s;
}
.menu .item:nth-child(617) {
  animation-delay: 123.40s;
}
.menu .item:nth-child(618) {
  animation-delay: 123.60s;
}
.menu .item:nth-child(619) {
  animation-delay: 123.80s;
}
.menu .item:nth-child(620) {
  animation-delay: 124.00s;
}
.menu .item:nth-child(621) {
  animation-delay: 124.20s;
}
.menu .item:nth-child(622) {
  animation-delay: 124.40s;
}
.menu .item:nth-child(623) {
  animation-delay: 124.60s;
}
.menu .item:nth-child(624) {
  animation-delay: 124.80s;
}
.menu .item:nth-child(625) {
  animation-delay: 125.00s;
}
.menu .item:nth-child(626) {
  animation-delay: 125.20s;
}
.menu .item:nth-child(627) {
  animation-delay: 125.40s;
}
.menu .item:nth-child(628) {
  animation-delay: 125.60s;
}
.menu .item:nth-child(629) {
  animation-delay: 125.80s;
}
.menu .item:nth-child(630) {
  animation-delay: 126.00s;
}
.menu .item:nth-child(631) {
  animation-delay: 126.20s;
}
.menu .item:nth-child(632) {
  animation-delay: 126.40s;
}
.menu .item:nth-child(633) {
  animation-delay: 126.60s;
}
.menu .item:nth-child(634) {
  animation-delay: 126.80s;
}
.menu .item:nth-child(635) {
  animation-delay: 127.00s;
}
.menu .item:nth-child(636) {
  animation-delay: 127.20s;
}
.menu .item:nth-child(637) {
  animation-delay: 127.40s;
}
.menu .item:nth-child(638) {
  animation-delay: 127.60s;
}
.menu .item:nth-child(639) {
  animation-delay: 127.80s;
}
.menu .item:nth-child(640) {
  animation-delay: 128.00s;
}
.menu .item:nth-child(641) {
  animation-delay: 128.20s;
}
.menu .item:nth-child(642) {
  animation-delay: 128.40s;
}
.menu .item:nth-child(643) {
  animation-delay: 128.60s;
}
.menu .item:nth-child(644) {
  animation-delay: 128.80s;
}
.menu .item:nth-child(645) {
  animation-delay: 129.00s;
}
.menu .item:nth-child(646) {
  animation-delay: 129.20s;
}
.menu .item:nth-child(647) {
  animation-delay: 129.40s;
}
.menu .item:nth-child(648) {
  animation-delay: 129.60s;
}
.menu .item:nth-child(649) {
  animation-delay: 129.80s;
}
.menu .item:nth-child(650) {
  animation-delay: 130.00s;
}
.menu .item:nth-child(651) {
  animation-delay: 130.20s;
}
.menu .item:nth-child(652) {
  animation-delay: 130.40s;
}
.menu .item:nth-child(653) {
  animation-delay: 130.60s;
}
.menu .item:nth-child(654) {
  animation-delay: 130.80s;
}
.menu .item:nth-child(655) {
  animation-delay: 131.00s;
}
.menu .item:nth-child(656) {
  animation-delay: 131.20s;
}
.menu .item:nth-child(657) {
  animation-delay: 131.40s;
}
.menu .item:nth-child(658) {
  animation-delay: 131.60s;
}
.menu .item:nth-child(659) {
  animation-delay: 131.80s;
}
.menu .item:nth-child(660) {
  animation-delay: 132.00s;
}
.menu .item:nth-child(661) {
  animation-delay: 132.20s;
}
.menu .item:nth-child(662) {
  animation-delay: 132.40s;
}
.menu .item:nth-child(663) {
  animation-delay: 132.60s;
}
.menu .item:nth-child(664) {
  animation-delay: 132.80s;
}
.menu .item:nth-child(665) {
  animation-delay: 133.00s;
}
.menu .item:nth-child(666) {
  animation-delay: 133.20s;
}
.menu .item:nth-child(667) {
  animation-delay: 133.40s;
}
.menu .item:nth-child(668) {
  animation-delay: 133.60s;
}
.menu .item:nth-child(669) {
  animation-delay: 133.80s;
}
.menu .item:nth-child(670) {
  animation-delay: 134.00s;
}
.menu .item:nth-child(671) {
  animation-delay: 134.20s;
}
.menu .item:nth-child(672) {
  animation-delay: 134.40s;
}
.menu .item:nth-child(673) {
  animation-delay: 134.60s;
}
.menu .item:nth-child(674) {
  animation-delay: 134.80s;
}
.menu .item:nth-child(675) {
  animation-delay: 135.00s;
}
.menu .item:nth-child(676) {
  animation-delay: 135.20s;
}
.menu .item:nth-child(677) {
  animation-delay: 135.40s;
}
.menu .item:nth-child(678) {
  animation-delay: 135.60s;
}
.menu .item:nth-child(679) {
  animation-delay: 135.80s;
}
.menu .item:nth-child(680) {
  animation-delay: 136.00s;
}
.menu .item:nth-child(681) {
  animation-delay: 136.20s;
}
.menu .item:nth-child(682) {
  animation-delay: 136.40s;
}
.menu .item:nth-child(683) {
  animation-delay: 136.60s;
}
.menu .item:nth-child(684) {
  animation-delay: 136.80s;
}
.menu .item:nth-child(685) {
  animation-delay: 137.00s;
}
.menu .item:nth-child(686) {
  animation-delay: 137.20s;
}
.menu .item:nth-child(687) {
  animation-delay: 137.40s;
}
.menu .item:nth-child(688) {
  animation-delay: 137.60s;
}
.menu .item:nth-child(689) {
  animation-delay: 137.80s;
}
.menu .item:nth-child(690) {
  animation-delay: 138.00s;
}
.menu .item:nth-child(691) {
  animation-delay: 138.20s;
}
.menu .item:nth-child(692) {
  animation-delay: 138.40s;
}
.menu .item:nth-child(693) {
  animation-delay: 138.60s;
}
.menu .item:nth-child(694) {
  animation-delay: 138.80s;
}
.menu .item:nth-child(695) {
  animation-delay: 139.00s;
}
.menu .item:nth-child(696) {
  animation-delay: 139.20s;
}
.menu .item:nth-child(697) {
  animation-delay: 139.40s;
}
.menu .item:nth-child(698) {
  animation-delay: 139.60s;
}
.menu .item:nth-child(699) {
  animation-delay: 139.80s;
}
.menu .item:nth-child(700) {
  animation-delay: 140.00s;
}
.menu .item:nth-child(701) {
  animation-delay: 140.20s;
}
.menu .item:nth-child(702) {
  animation-delay: 140.40s;
}
.menu .item:nth-child(703) {
  animation-delay: 140.60s;
}
.menu .item:nth-child(704) {
  animation-delay: 140.80s;
}
.menu .item:nth-child(705) {
  animation-delay: 141.00s;
}
.menu .item:nth-child(706) {
  animation-delay: 141.20s;
}
.menu .item:nth-child(707) {
  animation-delay: 141.40s;
}
.menu .item:nth-child(708) {
  animation-delay: 141.60s;
}
.menu .item:nth-child(709) {
  animation-delay: 141.80s;
}
.menu .item:nth-child(710) {
  animation-delay: 142.00s;
}
.menu .item:nth-child(711) {
  animation-delay: 142.20s;
}
.menu .item:nth-child(712) {
  animation-delay: 142.40s;
}
.menu .item:nth-child(713) {
  animation-delay: 142.60s;
}
.menu .item:nth-child(714) {
  animation-delay: 142.80s;
}
.menu .item:nth-child(715) {
  animation-delay: 143.00s;
}
.menu .item:nth-child(716) {
  animation-delay: 143.20s;
}
.menu .item:nth-child(717) {
  animation-delay: 143.40s;
}
.menu .item:nth-child(718) {
  animation-delay: 143.60s;
}
.menu .item:nth-child(719) {
  animation-delay: 143.80s;
}
.menu .item:nth-child(720) {
  animation-delay: 144.00s;
}
.menu .item:nth-child(721) {
  animation-delay: 144.20s;
}
.menu .item:nth-child(722) {
  animation-delay: 144.40s;
}
.menu .item:nth-child(723) {
  animation-delay: 144.60s;
}
.menu .item:nth-child(724) {
  animation-delay: 144.80s;
}
.menu .item:nth-child(725) {
  animation-delay: 145.00s;
}
.menu .item:nth-child(726) {
  animation-delay: 145.20s;
}
.menu .item:nth-child(727) {
  animation-delay: 145.40s;
}
.menu .item:nth-child(728) {
  animation-delay: 145.60s;
}
.menu .item:nth-child(729) {
  animation-delay: 145.80s;
}
.menu .item:nth-child(730) {
  animation-delay: 146.00s;
}
.menu .item:nth-child(731) {
  animation-delay: 146.20s;
}
.menu .item:nth-child(732) {
  animation-delay: 146.40s;
}
.menu .item:nth-child(733) {
  animation-delay: 146.60s;
}
.menu .item:nth-child(734) {
  animation-delay: 146.80s;
}
.menu .item:nth-child(735) {
  animation-delay: 147.00s;
}
.menu .item:nth-child(736) {
  animation-delay: 147.20s;
}
.menu .item:nth-child(737) {
  animation-delay: 147.40s;
}
.menu .item:nth-child(738) {
  animation-delay: 147.60s;
}
.menu .item:nth-child(739) {
  animation-delay: 147.80s;
}
.menu .item:nth-child(740) {
  animation-delay: 148.00s;
}
.menu .item:nth-child(741) {
  animation-delay: 148.20s;
}
.menu .item:nth-child(742) {
  animation-delay: 148.40s;
}
.menu .item:nth-child(743) {
  animation-delay: 148.60s;
}
.menu .item:nth-child(744) {
  animation-delay: 148.80s;
}
.menu .item:nth-child(745) {
  animation-delay: 149.00s;
}
.menu .item:nth-child(746) {
  animation-delay: 149.20s;
}
.menu .item:nth-child(747) {
  animation-delay: 149.40s;
}
.menu .item:nth-child(748) {
  animation-delay: 149.60s;
}
.menu .item:nth-child(749) {
  animation-delay: 149.80s;
}
.menu .item:nth-child(750) {
  animation-delay: 150.00s;
}
.menu .item:nth-child(751) {
  animation-delay: 150.20s;
}
.menu .item:nth-child(752) {
  animation-delay: 150.40s;
}
.menu .item:nth-child(753) {
  animation-delay: 150.60s;
}
.menu .item:nth-child(754) {
  animation-delay: 150.80s;
}
.menu .item:nth-child(755) {
  animation-delay: 151.00s;
}
.menu .item:nth-child(756) {
  animation-delay: 151.20s;
}
.menu .item:nth-child(757) {
  animation-delay: 151.40s;
}
.menu .item:nth-child(758) {
  animation-delay: 151.60s;
}
.menu .item:nth-child(759) {
  animation-delay: 151.80s;
}
.menu .item:nth-child(760) {
  animation-delay: 152.00s;
}
.menu .item:nth-child(761) {
  animation-delay: 152.20s;
}
.menu .item:nth-child(762) {
  animation-delay: 152.40s;
}
.menu .item:nth-child(763) {
  animation-delay: 152.60s;
}
.menu .item:nth-child(764) {
  animation-delay: 152.80s;
}
.menu .item:nth-child(765) {
  animation-delay: 153.00s;
}
.menu .item:nth-child(766) {
  animation-delay: 153.20s;
}
.menu .item:nth-child(767) {
  animation-delay: 153.40s;
}
.menu .item:nth-child(768) {
  animation-delay: 153.60s;
}
.menu .item:nth-child(769) {
  animation-delay: 153.80s;
}
.menu .item:nth-child(770) {
  animation-delay: 154.00s;
}
.menu .item:nth-child(771) {
  animation-delay: 154.20s;
}
.menu .item:nth-child(772) {
  animation-delay: 154.40s;
}
.menu .item:nth-child(773) {
  animation-delay: 154.60s;
}
.menu .item:nth-child(774) {
  animation-delay: 154.80s;
}
.menu .item:nth-child(775) {
  animation-delay: 155.00s;
}
.menu .item:nth-child(776) {
  animation-delay: 155.20s;
}
.menu .item:nth-child(777) {
  animation-delay: 155.40s;
}
.menu .item:nth-child(778) {
  animation-delay: 155.60s;
}
.menu .item:nth-child(779) {
  animation-delay: 155.80s;
}
.menu .item:nth-child(780) {
  animation-delay: 156.00s;
}
.menu .item:nth-child(781) {
  animation-delay: 156.20s;
}
.menu .item:nth-child(782) {
  animation-delay: 156.40s;
}
.menu .item:nth-child(783) {
  animation-delay: 156.60s;
}
.menu .item:nth-child(784) {
  animation-delay: 156.80s;
}
.menu .item:nth-child(785) {
  animation-delay: 157.00s;
}
.menu .item:nth-child(786) {
  animation-delay: 157.20s;
}
.menu .item:nth-child(787) {
  animation-delay: 157.40s;
}
.menu .item:nth-child(788) {
  animation-delay: 157.60s;
}
.menu .item:nth-child(789) {
  animation-delay: 157.80s;
}
.menu .item:nth-child(790) {
  animation-delay: 158.00s;
}
.menu .item:nth-child(791) {
  animation-delay: 158.20s;
}
.menu .item:nth-child(792) {
  animation-delay: 158.40s;
}
.menu .item:nth-child(793) {
  animation-delay: 158.60s;
}
.menu .item:nth-child(794) {
  animation-delay: 158.80s;
}
.menu .item:nth-child(795) {
  animation-delay: 159.00s;
}
.menu .item:nth-child(796) {
  animation-delay: 159.20s;
}
.menu .item:nth-child(797) {
  animation-delay: 159.40s;
}
.menu .item:nth-child(798) {
  animation-delay: 159.60s;
}
.menu .item:nth-child(799) {
  animation-delay: 159.80s;
}
.menu .item:nth-child(800) {
  animation-delay: 160.00s;
}
.menu .item:nth-child(801) {
  animation-delay: 160.20s;
}
.menu .item:nth-child(802) {
  animation-delay: 160.40s;
}
.menu .item:nth-child(803) {
  animation-delay: 160.60s;
}
.menu .item:nth-child(804) {
  animation-delay: 160.80s;
}
.menu .item:nth-child(805) {
  animation-delay: 161.00s;
}
.menu .item:nth-child(806) {
  animation-delay: 161.20s;
}
.menu .item:nth-child(807) {
  animation-delay: 161.40s;
}
.menu .item:nth-child(808) {
  animation-delay: 161.60s;
}
.menu .item:nth-child(809) {
  animation-delay: 161.80s;
}
.menu .item:nth-child(810) {
  animation-delay: 162.00s;
}
.menu .item:nth-child(811) {
  animation-delay: 162.20s;
}
.menu .item:nth-child(812) {
  animation-delay: 162.40s;
}
.menu .item:nth-child(813) {
  animation-delay: 162.60s;
}
.menu .item:nth-child(814) {
  animation-delay: 162.80s;
}
.menu .item:nth-child(815) {
  animation-delay: 163.00s;
}
.menu .item:nth-child(816) {
  animation-delay: 163.20s;
}
.menu .item:nth-child(817) {
  animation-delay: 163.40s;
}
.menu .item:nth-child(818) {
  animation-delay: 163.60s;
}
.menu .item:nth-child(819) {
  animation-delay: 163.80s;
}
.menu .item:nth-child(820) {
  animation-delay: 164.00s;
}
.menu .item:nth-child(821) {
  animation-delay: 164.20s;
}
.menu .item:nth-child(822) {
  animation-delay: 164.40s;
}
.menu .item:nth-child(823) {
  animation-delay: 164.60s;
}
.menu .item:nth-child(824) {
  animation-delay: 164.80s;
}
.menu .item:nth-child(825) {
  animation-delay: 165.00s;
}
.menu .item:nth-child(826) {
  animation-delay: 165.20s;
}
.menu .item:nth-child(827) {
  animation-delay: 165.40s;
}
.menu .item:nth-child(828) {
  animation-delay: 165.60s;
}
.menu .item:nth-child(829) {
  animation-delay: 165.80s;
}
.menu .item:nth-child(830) {
  animation-delay: 166.00s;
}
.menu .item:nth-child(831) {
  animation-delay: 166.20s;
}
.menu .item:nth-child(832) {
  animation-delay: 166.40s;
}
.menu .item:nth-child(833) {
  animation-delay: 166.60s;
}
.menu .item:nth-child(834) {
  animation-delay: 166.80s;
}
.menu .item:nth-child(835) {
  animation-delay: 167.00s;
}
.menu .item:nth-child(836) {
  animation-delay: 167.20s;
}
.menu .item:nth-child(837) {
  animation-delay: 167.40s;
}
.menu .item:nth-child(838) {
  animation-delay: 167.60s;
}
.menu .item:nth-child(839) {
  animation-delay: 167.80s;
}
.menu .item:nth-child(840) {
  animation-delay: 168.00s;
}
.menu .item:nth-child(841) {
  animation-delay: 168.20s;
}
.menu .item:nth-child(842) {
  animation-delay: 168.40s;
}
.menu .item:nth-child(843) {
  animation-delay: 168.60s;
}
.menu .item:nth-child(844) {
  animation-delay: 168.80s;
}
.menu .item:nth-child(845) {
  animation-delay: 169.00s;
}
.menu .item:nth-child(846) {
  animation-delay: 169.20s;
}
.menu .item:nth-child(847) {
  animation-delay: 169.40s;
}
.menu .item:nth-child(848) {
  animation-delay: 169.60s;
}
.menu .item:nth-child(849) {
  animation-delay: 169.80s;
}
.menu .item:nth-child(850) {
  animation-delay: 170.00s;
}
.menu .item:nth-child(851) {
  animation-delay: 170.20s;
}
.menu .item:nth-child(852) {
  animation-delay: 170.40s;
}
.menu .item:nth-child(853) {
  animation-delay: 170.60s;
}
.menu .item:nth-child(854) {
  animation-delay: 170.80s;
}
.menu .item:nth-child(855) {
  animation-delay: 171.00s;
}
.menu .item:nth-child(856) {
  animation-delay: 171.20s;
}
.menu .item:nth-child(857) {
  animation-delay: 171.40s;
}
.menu .item:nth-child(858) {
  animation-delay: 171.60s;
}
.menu .item:nth-child(859) {
  animation-delay: 171.80s;
}
.menu .item:nth-child(860) {
  animation-delay: 172.00s;
}
.menu .item:nth-child(861) {
  animation-delay: 172.20s;
}
.menu .item:nth-child(862) {
  animation-delay: 172.40s;
}
.menu .item:nth-child(863) {
  animation-delay: 172.60s;
}
.menu .item:nth-child(864) {
  animation-delay: 172.80s;
}
.menu .item:nth-child(865) {
  animation-delay: 173.00s;
}
.menu .item:nth-child(866) {
  animation-delay: 173.20s;
}
.menu .item:nth-child(867) {
  animation-delay: 173.40s;
}
.menu .item:nth-child(868) {
  animation-delay: 173.60s;
}
.menu .item:nth-child(869) {
  animation-delay: 173.80s;
}
.menu .item:nth-child(870) {
  animation-delay: 174.00s;
}
.menu .item:nth-child(871) {
  animation-delay: 174.20s;
}
.menu .item:nth-child(872) {
  animation-delay: 174.40s;
}
.menu .item:nth-child(873) {
  animation-delay: 174.60s;
}
.menu .item:nth-child(874) {
  animation-delay: 174.80s;
}
.menu .item:nth-child(875) {
  animation-delay: 175.00s;
}
.menu .item:nth-child(876) {
  animation-delay: 175.20s;
}
.menu .item:nth-child(877) {
  animation-delay: 175.40s;
}
.menu .item:nth-child(878) {
  animation-delay: 175.60s;
}
.menu .item:nth-child(879) {
  animation-delay: 175.80s;
}
.menu .item:nth-child(880) {
  animation-delay: 176.00s;
}
.menu .item:nth-child(881) {
  animation-delay: 176.20s;
}
.menu .item:nth-child(882) {
  animation-delay: 176.40s;
}
.menu .item:nth-child(883) {
  animation-delay: 176.60s;
}
.menu .item:nth-child(884) {
  animation-delay: 176.80s;
}
.menu .item:nth-child(885) {
  animation-delay: 177.00s;
}
.menu .item:nth-child(886) {
  animation-delay: 177.20s;
}
.menu .item:nth-child(887) {
  animation-delay: 177.40s;
}
.menu .item:nth-child(888) {
  animation-delay: 177.60s;
}
.menu .item:nth-child(889) {
  animation-delay: 177.80s;
}
.menu .item:nth-child(890) {
  animation-delay: 178.00s;
}
.menu .item:nth-child(891) {
  animation-delay: 178.20s;
}
.menu .item:nth-child(892) {
  animation-delay: 178.40s;
}
.menu .item:nth-child(893) {
  animation-delay: 178.60s;
}
.menu .item:nth-child(894) {
  animation-delay: 178.80s;
}
.menu .item:nth-child(895) {
  animation-delay: 179.00s;
}
.menu .item:nth-child(896) {
  animation-delay: 179.20s;
}
.menu .item:nth-child(897) {
  animation-delay: 179.40s;
}
.menu .item:nth-child(898) {
  animation-delay: 179.60s;
}
.menu .item:nth-child(899) {
  animation-delay: 179.80s;
}
.menu .item:nth-child(900) {
  animation-delay: 180.00s;
}
.menu .item:nth-child(901) {
  animation-delay: 180.20s;
}
.menu .item:nth-child(902) {
  animation-delay: 180.40s;
}
.menu .item:nth-child(903) {
  animation-delay: 180.60s;
}
.menu .item:nth-child(904) {
  animation-delay: 180.80s;
}
.menu .item:nth-child(905) {
  animation-delay: 181.00s;
}
.menu .item:nth-child(906) {
  animation-delay: 181.20s;
}
.menu .item:nth-child(907) {
  animation-delay: 181.40s;
}
.menu .item:nth-child(908) {
  animation-delay: 181.60s;
}
.menu .item:nth-child(909) {
  animation-delay: 181.80s;
}
.menu .item:nth-child(910) {
  animation-delay: 182.00s;
}
.menu .item:nth-child(911) {
  animation-delay: 182.20s;
}
.menu .item:nth-child(912) {
  animation-delay: 182.40s;
}
.menu .item:nth-child(913) {
  animation-delay: 182.60s;
}
.menu .item:nth-child(914) {
  animation-delay: 182.80s;
}
.menu .item:nth-child(915) {
  animation-delay: 183.00s;
}
.menu .item:nth-child(916) {
  animation-delay: 183.20s;
}
.menu .item:nth-child(917) {
  animation-delay: 183.40s;
}
.menu .item:nth-child(918) {
  animation-delay: 183.60s;
}
.menu .item:nth-child(919) {
  animation-delay: 183.80s;
}
.menu .item:nth-child(920) {
  animation-delay: 184.00s;
}
.menu .item:nth-child(921) {
  animation-delay: 184.20s;
}
.menu .item:nth-child(922) {
  animation-delay: 184.40s;
}
.menu .item:nth-child(923) {
  animation-delay: 184.60s;
}
.menu .item:nth-child(924) {
  animation-delay: 184.80s;
}
.menu .item:nth-child(925) {
  animation-delay: 185.00s;
}
.menu .item:nth-child(926) {
  animation-delay: 185.20s;
}
.menu .item:nth-child(927) {
  animation-delay: 185.40s;
}
.menu .item:nth-child(928) {
  animation-delay: 185.60s;
}
.menu .item:nth-child(929) {
  animation-delay: 185.80s;
}
.menu .item:nth-child(930) {
  animation-delay: 186.00s;
}
.menu .item:nth-child(931) {
  animation-delay: 186.20s;
}
.menu .item:nth-child(932) {
  animation-delay: 186.40s;
}
.menu .item:nth-child(933) {
  animation-delay: 186.60s;
}
.menu .item:nth-child(934) {
  animation-delay: 186.80s;
}
.menu .item:nth-child(935) {
  animation-delay: 187.00s;
}
.menu .item:nth-child(936) {
  animation-delay: 187.20s;
}
.menu .item:nth-child(937) {
  animation-delay: 187.40s;
}
.menu .item:nth-child(938) {
  animation-delay: 187.60s;
}
.menu .item:nth-child(939) {
  animation-delay: 187.80s;
}
.menu .item:nth-child(940) {
  animation-delay: 188.00s;
}
.menu .item:nth-child(941) {
  animation-delay: 188.20s;
}
.menu .item:nth-child(942) {
  animation-delay: 188.40s;
}
.menu .item:nth-child(943) {
  animation-delay: 188.60s;
}
.menu .item:nth-child(944) {
  animation-delay: 188.80s;
}
.menu .item:nth-child(945) {
  animation-delay: 189.00s;
}
.menu .item:nth-child(946) {
  animation-delay: 189.20s;
}
.menu .item:nth-child(947) {
  animation-delay: 189.40s;
}
.menu .item:nth-child(948) {
  animation-delay: 189.60s;
}
.menu .item:nth-child(949) {
  animation-delay: 189.80s;
}
.menu .item:nth-child(950) {
  animation-delay: 190.00s;
}
.menu .item:nth-child(951) {
  animation-delay: 190.20s;
}
.menu .item:nth-child(952) {
  animation-delay: 190.40s;
}
.menu .item:nth-child(953) {
  animation-delay: 190.60s;
}
.menu .item:nth-child(954) {
  animation-delay: 190.80s;
}
.menu .item:nth-child(955) {
  animation-delay: 191.00s;
}
.menu .item:nth-child(956) {
  animation-delay: 191.20s;
}
.menu .item:nth-child(957) {
  animation-delay: 191.40s;
}
.menu .item:nth-child(958) {
  animation-delay: 191.60s;
}
.menu .item:nth-child(959) {
  animation-delay: 191.80s;
}
.menu .item:nth-child(960) {
  animation-delay: 192.00s;
}
.menu .item:nth-child(961) {
  animation-delay: 192.20s;
}
.menu .item:nth-child(962) {
  animation-delay: 192.40s;
}
.menu .item:nth-child(963) {
  animation-delay: 192.60s;
}
.menu .item:nth-child(964) {
  animation-delay: 192.80s;
}
.menu .item:nth-child(965) {
  animation-delay: 193.00s;
}
.menu .item:nth-child(966) {
  animation-delay: 193.20s;
}
.menu .item:nth-child(967) {
  animation-delay: 193.40s;
}
.menu .item:nth-child(968) {
  animation-delay: 193.60s;
}
.menu .item:nth-child(969) {
  animation-delay: 193.80s;
}
.menu .item:nth-child(970) {
  animation-delay: 194.00s;
}
.menu .item:nth-child(971) {
  animation-delay: 194.20s;
}
.menu .item:nth-child(972) {
  animation-delay: 194.40s;
}
.menu .item:nth-child(973) {
  animation-delay: 194.60s;
}
.menu .item:nth-child(974) {
  animation-delay: 194.80s;
}
.menu .item:nth-child(975) {
  animation-delay: 195.00s;
}
.menu .item:nth-child(976) {
  animation-delay: 195.20s;
}
.menu .item:nth-child(977) {
  animation-delay: 195.40s;
}
.menu .item:nth-child(978) {
  animation-delay: 195.60s;
}
.menu .item:nth-child(979) {
  animation-delay: 195.80s;
}
.menu .item:nth-child(980) {
  animation-delay: 196.00s;
}
.menu .item:nth-child(981) {
  animation-delay: 196.20s;
}
.menu .item:nth-child(982) {
  animation-delay: 196.40s;
}
.menu .item:nth-child(983) {
  animation-delay: 196.60s;
}
.menu .item:nth-child(984) {
  animation-delay: 196.80s;
}
.menu .item:nth-child(985) {
  animation-delay: 197.00s;
}
.menu .item:nth-child(986) {
  animation-delay: 197.20s;
}
.menu .item:nth-child(987) {
  animation-delay: 197.40s;
}
.menu .item:nth-child(988) {
  animation-delay: 197.60s;
}
.menu .item:nth-child(989) {
  animation-delay: 197.80s;
}
.menu .item:nth-child(990) {
  animation-delay: 198.00s;
}
.menu .item:nth-child(991) {
  animation-delay: 198.20s;
}
.menu .item:nth-child(992) {
  animation-delay: 198.40s;
}
.menu .item:nth-child(993) {
  animation-delay: 198.60s;
}
.menu .item:nth-child(994) {
  animation-delay: 198.80s;
}
.menu .item:nth-child(995) {
  animation-delay: 199.00s;
}
.menu .item:nth-child(996) {
  animation-delay: 199.20s;
}
.menu .item:nth-child(997) {
  animation-delay: 199.40s;
}
.menu .item:nth-child(998) {
  animation-delay: 199.60s;
}
.menu .item:nth-child(999) {
  animation-delay: 199.80s;
}
.menu .item:nth-child(1000) {
  animation-delay: 200.00s;
}